body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 15px;
  padding: 20px;
}

.gallery img {
  width: 100%;
  cursor: pointer;
  transition: transform 0.3s;
  border-radius: 10px;
}

.gallery img:hover {
  transform: scale(1.05);
}

#lightbox {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.8);
  align-items: center;
  justify-content: center;
}

#lightbox img {
  width: 60%;
  border-radius: 10px;
}

button {
  background: none;
  border: none;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 40px;
  cursor: pointer;
  color: white;
}
